{{!-- change this to fit with your needs --}}

<div class="gh-wakaka-cta">
  <h4>Kamu menikmati tulisan ini?</h4>
  <img src="/assets/img/thanks.png" alt="Dukung Fariz" />
  <p>Blog ini tidak menampilkan iklan, dan blog ini didanai oleh pembaca seperti
    kamu — yang menikmati tulisan-tulisan yang ada disini — agar tetap bisa terus beroperasi dan menulis lebih banyak
    tulisan yang (semoga) bermanfaat!

    <p>Beri Fariz sedikit uang <em>tip</em> buat bantu dia bayar <em>server</em> dan beli kopi.
    </p>

    <a href="/thanks">
      Dukung
    </a>
</div>