{{!-- change this to fit with your needs --}}

<div class="gh-wqwq">
  <img src="/assets/img/profile.jpg" alt="Author" class="gh-gambar">
  <h4>Blog by Fariz</h4>
  <p>Disini tempat saya berbagi cerita, opini, dan ide seputar <em>self-growth</em>, <em>soft skills</em>, dan
    sedikit
    tentang dunia <em>programming</em> & IT.</p>
  <p>Dan ya, hal-hal seputar pribadi juga pastinya.</p>
  <p>Blog ini menggunakan <a href="https://ghost.org">Ghost</a> dengan tema <a
      href="https://github.com/faultable/illi">illi.</a></p>
  <div class="aaa">{{ navigation }}</div>
</div>