{{!< default}}

<div class="gh-pasge">
    <div class="gh-containers">
        {{> "sidebar"}}
        <div class="gh-postfeeds">
            {{#foreach posts}}

            {{> "card"}}

            {{/foreach}}
        </div>

    </div>
</div>